<h2>Update the drone</h2>

<form action="/drones/{{_id}}/update" method="POST">

  <label for="Name">name:</label>
  <input type="text" name="name" id="Name" value="{{name}}"/>

  <label for="propellers">Propellers:</label>
  <input type="number" name="propellers" id="rate-input" min="1" max="10" value="{{propellers}}"/>

  <label for="max-speed">Max Speed:</label>
  <input type="text" name="maxSpeed" id="max-speed" value="{{maxSpeed}}"/>

  <button type="submit">Update Drone</button>
</form>